<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
        content="ISBN, ISBN Search, compare book prices, bookfinder, book finder, bookfinders, book finders, out of print books, rare book, used books,book stores,discount books,online book stores,used book stores, book price comparison">
    {%load static%}
    <link rel="stylesheet" href="{% static 'keta/css/style.css' %}">
    <title>Ketabcheh Bookstore</title>
</head>
<!--<style>

</style>-->

<body>
    <div id="main-body">
        <div>
            <img src="{% static "keta/logo2.png" %}" alt="">
            <h1>Ketabcheh</h1>
            <h6>Find the Cheapest Book on Ketabcheh!</h6><br>
        </div>

<!--        <form action="/keta/" method="post">-->
<!--            {% csrf_token %}-->
<!--            {{search_form}}-->
<!--            <input type="submit" value="Submit">-->
<!--        </form>-->



        <div id="Post Form Usuable">
            <form action="/keta/" method="post">
                {% csrf_token %}
                <div id="Search bar and search button">
                    <span>
                        {{search_form.search_text}}
                    </span>

                    <span>
                        <button class="cta-search">Search</button>
                    </span>
                </div>

                <div id = "Advance Search Options">
                    <span class="search-options">Advanced Search by:</span>
                    {% for radio in search_form.advance_search %}
                    <span class="search-options">
                                {{radio.tag}}
                                <span class="search-opt">
                                    {{radio.choice_label}}
                                </span>
                    </span>
                    {% endfor %}
                </div>
            </form>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="divider"></div>
    </div>

<!--    <div>-->
<!--    <section class="price-comparison">-->
<!--        <div class="price-column">-->
<!--          <div class="price-header">-->
<!--            <div class="price">-->
<!--              <div class="dollar-sign">$</div>-->
<!--              30-->
<!--              -->
<!--            </div>-->
<!--            <div class="plan-name">Google</div>-->
<!--          </div>-->
<!--          <div class="divider"></div>-->
<!--          <div class="feature">-->
<!--            <img src="check-circle.svg">-->
<!--            1st comment-->
<!--          </div>-->
<!--          <div class="feature">-->
<!--            <img src="check-circle.svg">-->
<!--            2nd comment-->
<!--          </div>-->
<!--          <div class="feature inactive">-->
<!--            <img src="x-square.svg">-->
<!--            3rd comment-->
<!--          </div>-->
<!--          -->
<!--          <button class="cta">Order Now</button>-->
<!--        </div>-->
<!--        <div class="price-column popular">-->
<!--          <div class="most-popular">Cheapest</div>-->
<!--          <div class="price-header">-->
<!--            <div class="price">-->
<!--              <div class="dollar-sign">$</div>-->
<!--              10-->
<!--              -->
<!--            </div>-->
<!--            <div class="plan-name">Amazon</div>-->
<!--          </div>-->
<!--          <div class="divider"></div>-->
<!--          <div class="feature">-->
<!--            <img src="check-circle.svg">-->
<!--            1st comment-->
<!--          </div>-->
<!--          <div class="feature">-->
<!--            <img src="check-circle.svg">-->
<!--            2nd comment-->
<!--          </div>-->
<!--          <div class="feature inactive">-->
<!--            <img src="check-circle.svg">-->
<!--            3rd comment-->
<!--          </div>-->
<!--          -->
<!--          <button class="cta">Order Now</button>-->
<!--        </div>-->
<!--        <div class="price-column">-->
<!--          <div class="price-header">-->
<!--            <div class="price">-->
<!--              <div class="dollar-sign">$</div>-->
<!--              20-->
<!--              -->
<!--            </div>-->
<!--            <div class="plan-name">ebay</div>-->
<!--          </div>-->
<!--          <div class="divider"></div>-->
<!--          <div class="feature">-->
<!--            <img src="check-circle.svg">-->
<!--            1st comment-->
<!--          </div>-->
<!--          <div class="feature">-->
<!--            <img src="check-circle.svg">-->
<!--            2nd comment-->
<!--          </div>-->
<!--          <div class="feature inactive">-->
<!--            <img src="check-circle.svg">-->
<!--            3rd comment-->
<!--          </div>-->
<!--          -->
<!--          <button class="cta">Order Now</button>-->
<!--        </div>-->
<!--      </section>-->
<!--    </div>-->


</body>

</html>