<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Keywords"
        content="ISBN, ISBN Search, compare book prices, bookfinder, book finder, bookfinders, book finders, out of print books, rare book, used books,book stores,discount books,online book stores,used book stores, book price comparison">
    {%load static%}
    <link rel="stylesheet" href="{% static 'keta/css/style.css' %}">
    <title>Ketabcheh Bookstore</title>
</head>
<!--<style>

</style>-->

<body>
  <div id="main-body">
    <div>
      <img src="{% static "keta/logo2.png" %}" alt="">
      <h1>Ketabcheh</h1>
      <h6>Find the Cheapest Book on Ketabcheh!</h6><br>
    </div>

    <div id="Post Form Usuable">
        <form action="/" method="post">
            {% csrf_token %}
            <div id="Search bar and search button">
                <span>
                    {{search_form.search_text}}
                </span>

                <span>
                    <button class="cta-search">Search</button>
                </span>
            </div>

            <div id = "Advance Search Options">
                <span class="search-options">Advanced Search by:</span>
                {% for radio in search_form.advance_search %}
                <span class="search-options">
                            {{radio.tag}}
                            <span class="search-opt">
                                {{radio.choice_label}}
                            </span>
                </span>
                {% endfor %}
            </div>
        </form>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

</div>


      <div class="divider"></div>

      {% for book in books %}
          <div class="just">
              <h3 class="aut-tit">{{book.title}}</h3>
              <h5 class="aut-tit">
                 {% for author in book.authors %}
                  {{author}}
                  {% endfor %}
              </h5>
            <div class="desc">
                <h6>{{book.description}}</h6>
            </div>
              <h5>Rating: {{book.rating}}</h5>
        </div>
      <div class="divider"></div>

    <div id="pricing">
        <section class="price-comparison">
        {% if book.released %}
            {% if book.arrayLen == 1 %}
                <div class="price-column popular">
                    <div class="most-popular">Cheapest</div>
                    <div class="price-header">
                        <div class="price">
                            <div class="dollar-sign">$</div>
                                {{book.prices.0}}
                        </div>
                        <div class="plan-name">1st Option</div>
                    </div>
                    <div class="divider"></div>
                    <a href = "{{book.vendors.0}}" target="_blank"> <button class="cta">Order Now</button></a>
                </div>

            {% elif book.arrayLen == 2 %}
                <div class="price-column popular">
                    <div class="most-popular">Cheapest</div>
                    <div class="price-header">
                        <div class="price">
                            <div class="dollar-sign">$</div>
                                {{book.prices.0}}
                        </div>
                        <div class="plan-name">1st Option</div>
                    </div>
                    <div class="divider"></div>
                    <a href = "{{book.vendors.0}}" target="_blank"> <button class="cta">Order Now</button></a>
                </div>

            <div class="price-column">
                <div class="price-header">
                    <div class="price">
                        <div class="dollar-sign">$</div>
                            {{book.prices.1}}
                        </div>
                    <div class="plan-name">2nd Option</div>
                </div>
                <div class="divider"></div>
                <a href = "{{book.vendors.1}}" target="_blank"> <button class="cta">Order Now</button></a>
            </div>
            {% elif book.arrayLen == 3 %}
            <div class="price-column">
                <div class="price-header">
                    <div class="price">
                        <div class="dollar-sign">$</div>
                            {{book.prices.2}}
                        </div>
                    <div class="plan-name">3rd Option</div>
                </div>
                <div class="divider"></div>
                <a href = "{{book.vendors.2}}" target="_blank"> <button class="cta">Order Now</button></a>
            </div>

            <div class="price-column popular">
                    <div class="most-popular">Cheapest</div>
                    <div class="price-header">
                        <div class="price">
                            <div class="dollar-sign">$</div>
                                {{book.prices.0}}
                        </div>
                        <div class="plan-name">1st Option</div>
                    </div>
                    <div class="divider"></div>
                    <a href = "{{book.vendors.0}}" target="_blank"> <button class="cta">Order Now</button></a>
                </div>

            <div class="price-column">
                <div class="price-header">
                    <div class="price">
                        <div class="dollar-sign">$</div>
                            {{book.prices.1}}
                        </div>
                    <div class="plan-name">2nd Option</div>
                </div>
                <div class="divider"></div>
                <a href = "{{book.vendors.1}}" target="_blank"> <button class="cta">Order Now</button></a>
            </div>

            {% else %}
                <h1>There was problem with arrayLength</h1>
            {% endif %}

        {% else %}
            <h1>This book is not for sale</h1>
        {% endif %}
        </section>
    </div>
    <div class="divider"></div>
    {%endfor%}

</body>
</html>
